PORT=
NODE_ENV=
DATABASE_URL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
KAKAO_REST_API_KEY=
KAKAO_LOCAL_API_KEY=
MAP_API_KEY=
ODSAY_API_KEY=
GBIS_SERVICE_KEY=
GBIS_API_KEY=
OPENAI_API_KEY=
STT_API_KEY=
TTS_API_KEY=
BLE_DEVICE_NAME=
DEMO_USE_DB=
REALTIME_SHARED_SECRET=
